{% load static %}
<footer class="foot">
  <div class="wrap">
    <div class="foot__grid">
      <div class="foot__brand">
        <a class="brand-logo" href="/"><img src="{% static 'images/logo.png' %}" alt="{{ site_conf.site_name }}"></a>
        <p>{{ site_conf.meta_description }}</p>
        <div class="foot__tag"><span class="a">Play.</span> <span class="b">Compete.</span> <span class="c">Conquer.</span></div>
      </div>
      <div class="foot__col"><h5>Watch</h5>
        <a href="{% url 'browse' %}">Tournaments</a>
        <a href="{% url 'live_list' %}">Live scores</a>
        <a href="{% url 'results_list' %}">Results</a>
        <a href="{% url 'highlights_list' %}">Highlights</a>
        <a href="{% url 'news_list' %}">News</a>
      </div>
      <div class="foot__col"><h5>Sports</h5>
        <a href="{% url 'sport_detail' 'basketball' %}">Basketball</a>
        <a href="{% url 'sport_detail' 'chess' %}">Chess</a>
        <a href="{% url 'sport_detail' 'mobile-esports' %}">Mobile Esports</a>
        <a href="{% url 'sport_detail' 'marathon' %}">Marathon</a>
      </div>
      <div class="foot__col"><h5>Take part</h5>
        <a href="{% url 'player_login' %}">Player login</a>
        <a href="{% url 'organizer_login' %}">Organizer login</a>
        <a href="{% url 'signup' %}">Sign up</a>
        <a href="mailto:{{ site_conf.support_email }}">Support</a>
      </div>
    </div>
    <div class="foot__bar">
      <span>© {% now "Y" %} {{ site_conf.site_name }}. All rights reserved.</span>
      <span>Designed and built by <b>Big Scoop Studio</b></span>
    </div>
  </div>
</footer>
